# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Pastas de outros projetos (fora deste repositório)
../EDI-Projeto1/
../projeto-01-EDI/

# Arquivos do CLion e CMake
.idea/
cmake-build-debug/
CMakeLists.txt

# Build directories
cmake-build-release/

# IDE
*.iml

# System
.DS_Store
Thumbs.db

